<form name="luv">
<input name="luv[title]" type="text" placeholder="Title">
<textarea name="luv[content]" placeholder="Some loving content."></textarea>
<input type="submit" value="Send us the luv!">
</form>

<input type="text" name="luv_id">
<input type="button" name="luvbtn" value="fetch luv">

<div id="luv-list">
<% @luvs.reverse.each do |loop_luv| %>
  <%= erb :'luv/single', {locals: {luv: loop_luv, tags: "yolo, hello, goodbye"}} %>
<% end %>
</div>